<div class="member-list">
  <div class="header">
    <div class="title">{{ title }}</div>
  </div>

  <div id={{title}}>
    <table
      class="table table bordered table-responsive text-nowrap table-striped"
      id="{{title}}Table"
    >
      <thead>
        <tr>
          <th></th>
          <th (click)="onSortThisBy('firstName', members)">First Name</th>
          <th (click)="onSortThisBy('lastName', members)">Last Name</th>
          <th (click)="onSortThisBy('email', members)">Email</th>
          <th (click)="onSortThisBy('phone', members)">Phone</th>
          <th (click)="onSortThisBy('commitment', members)" *ngIf="hasCommitment">Commitment</th>
          <th (click)="onSortThisBy('preferredContactMethod', members)">Preferred Contact Method</th>
        </tr>
      </thead>
      <tbody id="openings-panel">
        <tr *ngFor="let member of members">
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Delete Item"
              (click)="onDeleteItem(member)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              aria-label="Edit Item"
              (click)="onEditItem(member)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td>{{ member?.firstName }}</td>
          <td>{{ member?.lastName }}</td>
          <td>{{ member?.email }}</td>
          <td>{{ member?.phone }}</td>
          <td *ngIf="hasCommitment">{{ member?.commitment }}</td>
          <td>{{ member?.preferredContactMethod }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="printOrExport">
    <button class="btn btn-primary btn-lg" (click)="onPrint(title, title)">Print</button>
    <button class="btn btn-primary btn-lg" (click)="onExport('xlsx', title, title + 'Table')">Export</button>
  </div>
</div>
