* {
  color: white;
}

.member-list {
  height: 100%;
}

.title {
  font-weight: normal;
  font-size: x-large;
  font-family: "Segoe UI", sans-serif;
  -webkit-text-stroke-width: 0.5px;
}

.btn-delete {
  height: 100%;
  font-weight: bold;
  font-size: 8px;
  color: red;
  background-color: transparent;
  border: none;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.header {
  margin: 50px 0 0 0;
}

@media (min-width: 576px) {
  .header {
    margin: 24px 0 0 0;
  }
}
@media (min-width: 576px) {
  .header {
    margin: 0 0 0 0;
  }
}
