<div *ngIf="selectedResouce == availableResources[0]" class="panel-material-container">
  <div class="reports-title"> Current Panel Material</div>
  <div class="spacer"></div>
  <div cdkDropList (cdkDropListDropped)="panelListItemDropped($event)">
  <div *ngFor="let item of panelMaterials" cdkDrag>
    <button (click)="deleteItem($event)" class="btn-delete" data-id="{{item.id}}" data-type="{{selectedResouce}}">
      DELETE
    </button>
    <a href="{{item.url}}" target="_blank">{{item.title}}</a>
  </div>
</div>
</div>


<div *ngIf="selectedResouce == availableResources[1]" class="general-resouces-container">
  <div class="reports-title"> Current General Resources</div>
  <div class="spacer"></div>
  <div cdkDropList (cdkDropListDropped)="resourceItemDropped($event)">
  <div *ngFor="let item of generalResources" cdkDrag>
    <button (click)="deleteItem($event)" class="btn-delete" data-id="{{item.id}}" data-type="{{selectedResouce}}">
      DELETE
    </button>
    <a href="{{item.url}}" target="_blank">{{item.title}}</a>
  </div>
  </div>
</div>

<div *ngIf="selectedResouce == availableResources[2]" class="monthly-reports-container">
  <div class="reports-title"> Current Monthly Reports</div>
  <div class="spacer"></div>
  <div *ngFor="let item of committeeReports">
    <div class="month-header">{{item.monthDate}}</div>
    <div *ngIf="item.financialReport">
      <button (click)="deleteItem($event)" class="btn-delete" data-id="{{item.finId}}" data-type="{{selectedResouce}}">
        DELETE
      </button>
      <a href="{{item.finLink}}" target="_blank">Financial Report</a>
      <br>
    </div>
    <div *ngIf="item.minutes">
      <button (click)="deleteItem($event)" class="btn-delete" data-id="{{item.minId}}" data-type="{{selectedResouce}}">
        DELETE
      </button>
      <a href="{{item.minLink}}" target="_blank">Committee Minutes</a>
    </div>
    <br>
  </div>
</div>

<div *ngIf="selectedResouce == availableResources[3]" class="announcements-container">
  <div class="reports-title">Current Announcements</div>
  <div class="spacer"></div>
  <div *ngFor="let item of announcements">
    <div *ngIf="item.title">
      <button (click)="deleteItem($event)" class="btn-delete" data-id="{{item.id}}" data-type="{{selectedResouce}}">
        DELETE
      </button>
      <a (click)="openCard(item)" target="_blank" id="#announce_1">{{item.title}}</a>
    </div>
    <br>
  </div>

  <div class="spacer"></div>
  <div class="spacer"></div>

  <div *ngIf="cardView">
    <div class="column">
      <div class="card-container flex-center">
        <div class="card">
          <div class="card-picture" id="card_pic_1">
            <div class="card-title">
              {{currentAnnoucement.title}}
            </div>
            <div class="card-subtitle">
              {{currentAnnoucement.date | date:'yyyy-MM-dd'}}
            </div>
          </div>
          <div class="card-body">
            {{currentAnnoucement.body}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedResouce == availableResources[4]" class="archived-reports-container">
  <div class="reports-title">Current Archived Reports</div>
  <div class="spacer"></div>
  <div *ngFor="let item of archiveReports">
    <button (click)="deleteItem($event)" class="btn-delete" data-id="{{item.id}}" data-type="{{selectedResouce}}">
      DELETE
    </button>
    <a href="{{item.url}}" target="_blank">{{item.title}}</a>
  </div>
</div>
