<div class="panel-list">
  <div class="header">
    <div class="title">Current Panels</div>
  </div>

  <div *ngIf="{panels: shownPanels$ | async, allPanels: panels$ | async} as bothPanels" >
    <app-filter
    filterType="panel"
    [list]="panels"
    *ngIf="bothPanels.allPanels as allPanels"
    (filter)="filterEmitter(allPanels, $event.property, $event.value)"
    (search)="searchEmitter(allPanels, $event.property)"
    [listOfNames]="listOfNames"
    >
    </app-filter>
    <table
      class="table table bordered table-responsive text-nowrap table-striped"
      id="currentPanelsTable"
      *ngIf="bothPanels.panels as panels"
    >
      <thead>
        <tr>
          <th></th>
          <th id="dow" (click)="onSortThisBy('dayOfWeek', panels)">Day of Week</th>
          <th id="wom" (click)="onSortThisBy('weekOfMonth', panels)">Week of Month</th>
          <th id="time" (click)="onSortThisBy('eventTime', panels)">Time</th>
          <th id="fac" (click)="onSortThisBy('facility', panels)">Facility</th>
          <th id="loc" (click)="onSortThisBy('location', panels)">Location</th>
          <th id="gen" (click)="onSortThisBy('gender', panels)">Gender</th>
          <th id="mann" (click)="onSortThisBy('markAsMembersNeeded', panels)">Mark as Number Needed?</th>
          <th id="nee" (click)="onSortThisBy('numberNeeded', panels)"># Needed</th>
          <th id="boa" (click)="onSortThisBy('boardChampion', panels)">Board Champion</th>
          <th id="panc" (click)="onSortThisBy('panelCoordinator', panels)">Panel Coordinator</th>
          <th id="panl" (click)="onSortThisBy('panelLeader...firstName...lastName', panels)">Panel Leader</th>
          <th id="pan1" (click)="onSortThisBy('panelMember1...firstName...lastName', panels)">Panel Member 1</th>
          <th id="pan2" (click)="onSortThisBy('panelMember2...firstName...lastName', panels)">Panel Member 2</th>
          <th id="pan3" (click)="onSortThisBy('panelMember3...firstName...lastName', panels)">Panel Member 3</th>
          <th id="pan4" (click)="onSortThisBy('panelMember4...firstName...lastName', panels)">Panel Member 4</th>
          <th id="pan5" (click)="onSortThisBy('panelMember5...firstName...lastName', panels)">Panel Member 5</th>
        </tr>
      </thead>
      <tbody id="openings-panel">
        <tr *ngFor="let panel of panels">
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Delete Item"
              (click)="onDeleteItem(panel)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              aria-label="Edit Item"
              (click)="onEditItem(panel)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td>{{ panel.dayOfWeek }}</td>
          <td>{{ panel.weekOfMonth | number }}</td>
          <td>{{ panel.eventTime }}</td>
          <td style="word-wrap: normal">
            {{ panel.facility ? panel.facility.facilityName : "" }}
          </td>
          <td>{{ panel.location }}</td>
          <td>{{ panel.gender }}</td>
          <td>
            {{ panel.markAsMembersNeeded }}
          </td>
          <td>
            {{ panel.numberNeeded ? panel.numberNeeded : "" }}
          </td>
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Remove Member"
              (click)="onRemoveMember(panel, 'boardChampion', panel.boardChampionId)"
              *ngIf="getMemberName(panel.boardChampion) !== 'Need Person'"
            ><mat-icon>delete</mat-icon>
            </button>
            {{ getMemberName(panel.boardChampion) }}
          </td>
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Remove Member"
              (click)="onRemoveMember(panel, 'panelCoordinator', panel.panelCoordinatorId)"
              *ngIf="getMemberName(panel.panelCoordinator) !== 'Need Person'"
            ><mat-icon>delete</mat-icon>
            </button>
            {{ getMemberName(panel.panelCoordinator) }}
          </td>
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Remove Member"
              (click)="onRemoveMember(panel, 'panelLeader', panel.panelLeaderId)"
              *ngIf="getMemberName(panel.panelLeader) !== 'Need Person'"
            ><mat-icon>delete</mat-icon>
            </button>
            {{ getMemberName(panel.panelLeader) }}
          </td>
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Remove Member"
              (click)="onRemoveMember(panel, 'panelMember1', panel.panelMember1Id)"
              *ngIf="getMemberName(panel.panelMember1) !== 'Need Person'"
            ><mat-icon>delete</mat-icon>
            </button>
            {{ getMemberName(panel.panelMember1) }}
          </td>
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Remove Member"
              (click)="onRemoveMember(panel, 'panelMember2', panel.panelMember2Id)"
              *ngIf="getMemberName(panel.panelMember2) !== 'Need Person'"
            ><mat-icon>delete</mat-icon>
            </button>
            {{ getMemberName(panel.panelMember2) }}
          </td>
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Remove Member"
              (click)="onRemoveMember(panel, 'panelMember3', panel.panelMember3Id)"
              *ngIf="getMemberName(panel.panelMember3) !== 'Need Person'"
            ><mat-icon>delete</mat-icon>
            </button>
            {{ getMemberName(panel.panelMember3) }}
          </td>
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Remove Member"
              (click)="onRemoveMember(panel, 'panelMember4', panel.panelMember4Id)"
              *ngIf="getMemberName(panel.panelMember4) !== 'Need Person'"
            ><mat-icon>delete</mat-icon>
            </button>
            {{ getMemberName(panel.panelMember4) }}
          </td>
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Remove Member"
              (click)="onRemoveMember(panel, 'panelMember5', panel.panelMember5Id)"
              *ngIf="getMemberName(panel.panelMember5) !== 'Need Person'"
            ><mat-icon>delete</mat-icon>
            </button>
            {{ getMemberName(panel.panelMember5) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="printOrExport">
    <button class="btn btn-primary btn-lg" (click)="onPrint('currentPanels', 'Current Panels')">Print</button>
    <button class="btn btn-primary btn-lg" (click)="onExport('xlsx', 'currentPanels', 'currentPanelsTable')">Export</button>
  </div>
</div>


<div *ngIf="shownPanels$ | async as panels" id="currentPanels" style="display: none">
  <table id="invisibleTable">
    <thead>
      <tr>
        <th>Day of Week</th>
        <th>Week of Month</th>
        <th>Time</th>
        <th>Facility</th>
        <th>Location</th>
        <th>Gender</th>
        <th>Mark as Number Needed?</th>
        <th># Needed</th>
        <th>Board Champion</th>
        <th>Panel Coordinator</th>
        <th>Panel Leader</th>
        <th>Panel Member 1</th>
        <th>Panel Member 2</th>
        <th>Panel Member 3</th>
        <th>Panel Member 4</th>
        <th>Panel Member 5</th>
      </tr>
    </thead>
    <tbody id="openings-panel">
      <tr *ngFor="let panel of panels">
        <td>{{ panel.dayOfWeek }}</td>
        <td>{{ panel.weekOfMonth | number }}</td>
        <td>{{ panel.eventTime }}</td>
        <td style="word-wrap: normal">
          {{ panel.facility ? panel.facility.facilityName : "" }}
        </td>
        <td>{{ panel.location }}</td>
        <td>{{ panel.gender }}</td>
        <td>
          {{ panel.markAsMembersNeeded }}
        </td>
        <td>
          {{ panel.numberNeeded ? panel.numberNeeded : "" }}
        </td>
        <td>{{ getMemberName(panel.boardChampion) }}</td>
        <td>{{ getMemberName(panel.panelCoordinator) }}</td>
        <td>{{ getMemberName(panel.panelLeader) }}</td>
        <td>{{ getMemberName(panel.panelMember1) }}</td>
        <td>{{ getMemberName(panel.panelMember2) }}</td>
        <td>{{ getMemberName(panel.panelMember3) }}</td>
        <td>{{ getMemberName(panel.panelMember4) }}</td>
        <td>{{ getMemberName(panel.panelMember5) }}</td>
      </tr>
    </tbody>
  </table>
</div>
