<div class="panel-list">
  <div class="header">
    <div class="title">Current Panels</div>
  </div>

  <div *ngIf="panels$ | async as panels">
    <table
      class="table table bordered table-responsive text-nowrap table-striped"
    >
      <thead>
        <tr>
          <th></th>
          <th>Day of Week</th>
          <th>Week of Month</th>
          <th>Time</th>
          <th>Facility</th>
          <th>Location</th>
          <th>Gender</th>
          <th># Needed</th>
          <th>Contact</th>
          <th>Panel Coordinator</th>
        </tr>
      </thead>
      <tbody id="openings-panel">
        <tr *ngFor="let panel of panels">
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Delete Item"
              (click)="onDeleteItem(panel)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              aria-label="Edit Item"
              (click)="onEditItem(panel)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td>{{ panel.eventDate | date:'E' }}</td>
          <td>{{ panel.eventDate | date:'W' }}</td>
          <td>{{ panel.eventDate | date:'shortTime' }}</td>
          <td style="word-wrap: normal">{{ panel.facility ? panel.facility.facilityName : '' }}</td>
          <td>{{ panel.location }}</td>
          <td>{{ panel.gender }}</td>
          <td style="word-wrap: break-word">
            {{ panel.numberNeeded }}
          </td>
          <td>{{ panel.boardChampion ? panel.boardChampion.firstName + ' ' + panel.boardChampion.lastName : '' }}</td>
          <td>{{ panel.panelCoordinator ? panel.panelCoordinator.firstName + ' ' + panel.panelCoordinator.lastName : '' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
