.events{
  list-style-type: none;
}
.content-wrapper{
  width: 100%;
  height: 30px;
  background-color: red;
}
.event-content-container{
  position: relative;
  margin-left: 30px;
}
.event-wrapper{
  position: relative;
  width: 100%;
  height: 60px;
}
.svg-icon{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  height: 20px;
}
.verticalLine {
  margin-left: 20px;
  border-left: solid white;
  border-radius: .5px;
}
.list-title{
  font-weight: normal;
  font-size: 24px;
  font-family: "Segoe UI", sans-serif;
  margin-bottom: 50px;
  -webkit-text-stroke-width: .7px;
}
li{
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
  -webkit-text-stroke-width: .5px;
  color: white;
  margin-top:.8rem;
}


/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
  li{
    font-size: 20px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  li{
    font-size: 15px;
  }
  .event-wrapper{
    height: 40px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {
  li{
    font-size: 20px;
  }
  .event-wrapper{
    height: 60px;
  }
  
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  
}
