<h3 class="list-title text-white">NCHANDI Committee Meetings</h3>
<div class="verticalLine">
<ul class="events">
  <li *ngFor="let event of events" (click)="onClick(event)">
    <svg-icon src="icon" [svgStyle]="{ 'margin-right':5,
                                       'margin-top':30,
                                       'margin-bottom':-5,
                                       'width.px': 18}"></svg-icon>
    <span>{{event.name}}</span>
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{event.date}}
  </li>
</ul>
</div>

