<form class="member-input" [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  <div class="member-input__header">Add a new member</div>
  <div class="form-group" [ngClass]="{ 'has-error': hasInvalidFirstName() }">
    <!-- First Name -->
    <label for="firstName" class="form-label">First Name</label>
    <input
      type="text"
      id="firstName"
      formControlName="firstName"
      class="form-control"
      placeholder="First Name"
      require
    />
    <p *ngIf="hasInvalidFirstName()" id="first_name_error" class="help-block">
      Invalid first name.
    </p>
  </div>

  <div class="form-group" [ngClass]="{ 'has-error': hasInvalidLastName() }">
    <!-- Last Name -->
    <label for="lastName" class="form-label">Last Name</label>
    <input
      type="text"
      id="lastName"
      formControlName="lastName"
      class="form-control"
      placeholder="Last Name"
    />
    <p *ngIf="hasInvalidLastName()" id="last_name_error" class="help-block">
      Invalid last name.
    </p>
  </div>

  <div class="form-group" [ngClass]="{ 'has-error': hasInvalidEmail() }">
    <!-- Email -->
    <label for="email" class="form-label">Email</label>
    <input
      type="text"
      id="email"
      formControlName="email"
      class="form-control"
      placeholder="your@email.com"
    />
    <p *ngIf="hasInvalidEmail()" id="email_error" class="help-block">
      Invalid email address.
    </p>
  </div>

  <div class="form-group" [ngClass]="{ 'has-error': hasInvalidPhone() }">
    <!-- Email -->
    <label for="phone" class="form-label">Phone</label>
    <input
      type="text"
      id="phone"
      formControlName="phone"
      class="form-control"
      placeholder="Phone"
    />
    <p *ngIf="hasInvalidPhone()" id="phone_error" class="help-block">
      Invalid phone number
    </p>
  </div>

  <div class="form-group">
    <label for="preferredContactMethod" class="form-label">Contact Method</label>
    <select
      id="preferredContactMethod"
      formControlName="preferredContactMethod"
      class="custom-select"
    >
      <option value="text">Text</option>
      <option value="email">Email</option>
    </select>
  </div>

  <div class="form-group" *ngIf="hasCommitment">
    <label for="commitment" class="form-label">Commitment</label>
    <select id="commitment" formControlName="commitment" class="custom-select">
      <option value="Chair">Chair</option>
      <option value="Co-Chair">Co-Chair</option>
      <option value="Librarian">Librarian</option>
      <option value="Technology">Technology</option>
      <option value="Treasurer">Treasurer</option>
      <option value="Facility">Facilities</option>
    </select>
  </div>

  <div class="form-group">
    <button
      type="submit"
      class="btn admin-entry-button btn-primary mx-auto"
      [disabled]="!userForm.valid"
    >
      Add member
    </button>
  </div>
</form>
