<div class="panels-main-view">
<div class="panels-container">
  <div class="row">
    <div class="col-6">
      <h1>Add New Panel</h1>
      <div class="spacer"></div>
      <form #cForm="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit(cForm)">

        <label for="facility">Facility</label>
        <select id="facility" class="form-control" name="facility" (change)="onFacilityClick($event.target.value)">
          <option *ngFor="let facility of facilities" value="{{facility.facilityName}}">{{facility.facilityName}}</option>
        </select>

        <label for="dayOfWeek">Day of Week:</label>
        <select id="dayOfWeek" formControlName="dayOfWeek" class="form-control" name="dayOfWeek">
          <option value="Monday">MONDAY</option>
          <option value="Tuesday">TUESDAY</option>
          <option value="Wednesday">WEDNESDAY</option>
          <option value="Thursday">THURSDAY</option>
          <option value="Friday">FRIDAY</option>
          <option value="Saturday">SATURDAY</option>
          <option value="Sunday">SUNDAY</option>
        </select>

        <label for="time">Time:</label>
        <input type="text" formControlName="time" class="form-control" id="time" name="time"
          placeholder="Time" require>

        <label for="coordinator">Coordinator:</label>
        <input type="text" formControlName="coordinator" class="form-control" id="coordinator" name="coordinator"
          placeholder="Coordinator" require>

<!--  <label for="coordinator">Coordinator:</label>
 <select id="coordinator" class="form-control" name="coordinator" (change)="onMemberClick($event.target.value)">
  <option *ngFor="let member of member" value="{{member.firstName}}">{{member.firstName}}</option>
</select> -->

        <label for="leader">Leader:</label>
        <input type="text" formControlName="leader" class="form-control" id="leader" name="leader" placeholder="Leader" require>

        <label for="member1">Member 1:</label>
        <input type="text" formControlName="member1" class="form-control" id="member1" name="member1" placeholder="Member 1"
          require>

        <label for="member2">Member 2:</label>
        <input type="text" formControlName="member2" class="form-control" id="member2" name="member2" placeholder="Member 2" require>

        <label for="member3">Member 3:</label>
        <input type="text" formControlName="member3" class="form-control" id="member3" name="member3"
          placeholder="Member 3" require>

        <label for="member4">Member 4:</label>
        <input type="text" formControlName="member4" class="form-control" id="member4"
          name="member4" placeholder="Member 4" require>

        <label for="member5">Member 5:</label>
        <input type="text" formControlName="member5" class="form-control" id="member5"
          name="member5" placeholder="Member 5" require>

        <label for="active">Active:</label>
        <input type="checkbox" formControlName="active" class="form-control" id="active" name="active">

        <div class="form-group">
          <button type="submit" class="btn submit-button mx-auto">Add new Panel</button>
        </div>

      </form>
    </div>
    <div class="col-6">
      <h1>Current Panels List</h1>
      <table class="table table bordered table-responsive text-nowrap table-striped text-white" id="openingsTable">
        <thead>
          <tr>
            <th></th>
            <th>Facility</th>
            <th>Day of Week</th>
            <th>Time</th>
            <th>Coordinator</th>
            <th>Leader</th>
            <th>Member 1</th>
            <th>Member 2</th>
            <th>Member 3</th>
            <th>Member 4</th>
            <th>Member 5</th>
            <th>Active</th>
          </tr>
        </thead>
        <tbody id="openings-panel">
          <tr *ngFor="let panel of panels">
            <button (click)="deletePanel($event, panel.facility.id)" class="btn-delete" data-id="{{panel.id}}">
              DELETE
            </button>
            <td>{{panel?.facility.facilityName}}</td>
            <td>{{panel?.dayOfWeek}}</td>
            <td>{{panel?.time}}</td>
            <td>{{panel?.coordinator}}</td>
            <td>{{panel?.leader}}</td>
            <td>{{panel?.member1}}</td>
            <td>{{panel?.member2}}</td>
            <td>{{panel?.member3}}</td>
            <td>{{panel?.member4}}</td>
            <td>{{panel?.member5}}</td>
            <td>{{panel?.active}}</td>
          </tr>
      </table>
    </div>
  </div>
</div>
</div>
