.panels-container {
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.panels-main-view {
  background-color: var(--primary-option);
  overflow-x: hidden;
}
.btn-delete{
  height: 100%;
  font-weight: bold;
  font-size: 8px;
  color:red;
  background-color: transparent;
  border: none;
  margin-bottom: 5px;
}
