.about-main-view {
  background-color: var(--yellow);
  background-size: cover;
  height: 100%;
}
.about-location-view {
  background-color: var(--dark-blue);
  background-size: cover;
  height: 100%;
}
.about-main-container {
  margin: 0 50px 0 50px;
}
.btn-round-lg{
  border-radius: 17px;
  color: white;
  background: var(--dark-blue) !important;
}

.mission-statement-header {
  -webkit-text-stroke-width: .5px;
  margin-top: 40px
}
.section-header {
  text-shadow: .5rem .5rem 1rem rgba(0,6,6,.45);
  font-family: Georgia;
  font-size: 46px;
  margin: 32px auto
}
.mission-para {
  font-size: 20px;
}
.container-2 {
  height: 100%;
}

/*Extra small devices (portrait phones, less than 576px)  */
/*No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }


