<div class="about-main-view">
  <div class="about-main-container vertical-center">
    <div class="navbar-spacer"></div>
    <h1 class="section-header text-white flex-center"> About Us </h1>
    <div class="spacer"></div>
    <div class="main-container">
      <div class="row justify-content center">
        <div class="col-md-5">
          <div class="img-container">
            <img src="./assets/Logo-transparancy.png" class="img-fluid z-depth-1" alt="1">
          </div>
        </div>
        <div class="spacer"></div>
        <div class="col-md-7">
          <div class="mission-statement-container">
            <p class="mission-para text-white">
              North County Hospitals and Institutions (North County H&I) is a volunteer organization whose mission is to
              carry the Alcoholics Anonymous (AA) message to those who still suffer and cannot get to an AA meeting.
              <br><br>
              Our core service is providing AA volunteer panels to treatment and correctional facilities in North San
              Diego county. Panels are made up of AA volunteers who visit facilities on a weekly basis to share their
              individual stories of experience, strength and hope.
              <br><br>
              We are a 501(c)(3) charitable non-profit organization registered as North County Area Institutions
              Committee (NCAIC). We are funded by AA members through their AA group contributions and by individual
              contributions made to our Green Can program that is solely used for AA literature to residents in the
              facilities we serve.
              <br><br>
              Visit our Orientation area to learn more about how you can be of service.
            </p>
            <div class="button-container flex-center">
              <button type="button" class="btn btn-primary btn-round-lg btn-lg flex-center" routerLink="/orientation"
                      routerLinkActive="active-link">Orientation
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="container flex-center">
        <img src="./assets/svg/page_seperator.svg" class="img-fluid page-separator" alt="My responsive image.">
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="row justify-content center">
        <div class="col-lg-12">
          <div class="organization-container">

            <h3 class="text-white flex-center headline">Organization Structure</h3>

            <p class="mission-para text-white">
              <br>Each facility that we take a meeting into has a panel coordinator. This person coordinates the panels
              and
              interfaces with the facility. There are five panel leaders at every facility. These people are responsible
              for organizing their panel. There can be two to five persons on any panel as determined by the panel
              leader. <br><br>
            </p>
          </div>
        </div>
      </div>
      <div class="row justify-content center">

        <div class="col">
          <div class="organization-pic flex-center">

            <img src="./assets/panel_organization.png" class="img-fluid" alt="1">
          </div>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>

    </div>
    <div class="about-location-view location-section">
      <div class="spacer"></div>
      <div class="header-container flex-center">
        <h2 class="section-header text-white flex-center headline"> Committee Board Meetings </h2>
      </div>
      <div class="spacer"></div>
      <div class="container-1">
        <div class="row">
          <div class="col-md-5 location-content container-4">
            <h3>All Committee Board meetings are held at:</h3><br>
            <p>
              North County Alano Club, 4198 Mission Ave, Oceanside, 92057 <br><br>
              The third Saturday of every month, directly following an orientation session.<br><br>
              <u>Schedule:</u><br>
              9:00am - 9:45am Orientation Session<br>
              9:45am - 11:00am Committee Board Meeting
            </p>
          </div>
          <div class="col-md-7 location-content">
            <div class="board-meeting-container">
              Committee Board meetings are held to conduct the business of North County H&I.<br><br>
              Board meetings consist of reports from each of our sub-committee chairpersons. They report on the status
              of our efforts in each of these areas:<br><br>
              <ul>
                <li>Facilities - our service to the residents and the facilities where we take panels.</li>
                <li>New Members - welcoming new committee members to AA H&I service work.</li>
                <li>Librarian - distributing AA literature to the residents of the facilities we serve.</li>
                <li>Technology - using technology to share the message of AA while keeping within the traditions of
                  AA.
                </li>
                <li>So Cal H&I - sharing and learning from other H&I committees in our region.</li>
                <li>Treasurer - maintaining corporate proverty and financial prudence.</li>
              </ul>
              <br>
            </div>
          </div>
        </div>
        <div class="spacer"></div>
      </div>
      <div class="row justify-content center">
        <div class="col flex-center">
          <h3 class="text-white flex-center headline">Please Come Join Us!</h3>
        </div>
      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
