<div class="about-main-view">
  <div class="about-main-container vertical-center">
    <div class="navbar-spacer"></div>
    <h1 class="section-header text-white flex-center">North County Hospitals and Institutions </h1>
    <div class="main-container">
      <div class="row justify-content center">
        <div class="col-md-6">
          <div class="container-1">
            <div class="mission-statement-container">
              <img src="https://images.unsplash.com/photo-1492176273113-2d51f47b23b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" class="img-fluid z-depth-1" alt="1">
              <h4 class="mission-statement-header text-center text-white">Who we are:</h4>
              <p class="mission-para text-white">
                &nbsp;&nbsp;&nbsp;&nbsp;Formally known as the North County Area Institutional Committee (NCAIC), NCHANDI is a volunteer organization
              which organizes "Hospital and Institution" meetings of Alcoholics Anonymous. We help bring meetings into facilities
              in North San Diego county. If you are struggling with alcoholism we urge you to go to Alcoholics Anonymous and find
              a meeting near you. If you are looking to be of service in A.A. and live in North County San Diego then you are in the
                right place. </p>
              <p class="mission-para2 text-white">
                &nbsp;&nbsp;&nbsp;&nbsp;Visit our resource area to learn more about how you can be of service.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="container-2">
          <app-main-event [event]="clickedEvent"></app-main-event>
          </div>
        </div>
        <div class="col-md-3">
          <div class="container-3">
            <div class="verticalLine">
            <app-events (eventClicked)="childEventClicked($event)"></app-events>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="about-location-view">
</div>
