<form class="facility-input" [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  <div class="facility-input__header">Add a new facility</div>

  <mat-form-field appearance="outline">
    <mat-label>Facility Name</mat-label>
    <input matInput formControlName="facilityName" />
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Facility Type</mat-label>
    <mat-select formControlName="facilityType">
      <mat-option value="Treatment">Treatment</mat-option>
      <mat-option value="Correctional">Correctional</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Address</mat-label>
    <input matInput formControlName="address" />
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>City</mat-label>
    <input matInput formControlName="city" />
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>State</mat-label>
    <input matInput formControlName="state" />
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Website</mat-label>
    <input matInput formControlName="website" />
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Primary Contact Name</mat-label>
    <input matInput formControlName="mainContactName" />
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Primary Contact Email</mat-label>
    <input matInput formControlName="mainContactEmail" type="email" />
    <mat-error>Valid email is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Primary Phone Number</mat-label>
    <input matInput formControlName="mainContactPhone" />
    <mat-error>Valid phone number is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Alt. Contact Name</mat-label>
    <input matInput formControlName="alternateContactName" />
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Alt. Contact Email</mat-label>
    <input matInput formControlName="alternateContactEmail" type="email" />
    <mat-error>Valid email is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Alt. Phone Number</mat-label>
    <input matInput formControlName="alternateContactPhone" />
    <mat-error>Valid phone number is required</mat-error>
  </mat-form-field>

  <div class="form-group">
    <button
      type="submit"
      class="btn admin-entry-button btn-primary mx-auto"
      [disabled]="!valid"
      mat-raised-button color="primary"
    >
      Add Faciity
    </button>
  </div>
</form>
