.resources-view{
  background-color: #E5E5E5;
  width: 100%;
}
.container{width: 300px}
.help-block{
  color:red;
  font-weight: bold;
}
.resources-main-container {
  margin: 0 auto;
  background-color: var(--primary-option);
  max-width: 1920px;
  background-size: cover;
}
.literature-container{
  margin-right: 12px;
  margin-left: 12px;
}
.resources-container{
  min-height: 800px;
}
.genLink{
  font-size: large;
}
.report-content {
  -webkit-text-stroke-width: .5px;
  color: white;
  font-family: "Segoe UI", serif;
  font-size: 16px;
}
.committeeReports {
  text-align:left;
  float: left;
}
.report-title {
  font-size: 20px;
  -webkit-text-stroke-width: .7px;
}
.title {
    font-weight: normal;
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 32px;
    -webkit-text-stroke-width: .7px;
}
.flex-center ul{
  margin-bottom: 64px
}
.form-blurb{
  padding-left: 12px;
  padding-right: 12px;
}
#link{
  color: lightgrey;
  -webkit-text-stroke-width: .3px;
}
.form-sheet{
  margin: 0 auto;
  border-radius: 40px;
  padding: 30px 0;
  max-width: 1200px;
  background-color: white;
}
.form-title{
  text-align: center;
}
.submit-button{
  display: block;
  padding: 10px;
  background-color: var(--primary);
  color: white;
  margin: 0 auto;
  width: 200px;
  border-radius: 30px;
}
.form-label{
  margin-top: 10px;
  font-weight: bold;
  color: var(--primary-dark);
  width: 100%;
}
.form-label 2{
  font-weight: bold;
  color: var(--primary-dark);
  width: 100%;
}
.form-spacer{
  position: relative;
  height: 32px;
}
.form-container{
  padding:20px;
}
.quote-content{
  text-align: right;
  font-size: 24px;
  margin-left: -24px
}
.report-sheet2{
  margin-left:72px;
}


/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .title {
    font-weight: normal;
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 50px;
    -webkit-text-stroke-width: .7px;
  }
  .report-sheet2{
    margin-left:0;
  }
  .quote-content{
    text-align: right;
    margin-top: 64px;
    margin-left: 64px;
    font-size: 32px
  }
  .resources-side-container{
    margin-left: 96px;
  }
  .resources-side-container2{
    margin-left: 96px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .title {
    font-weight: normal;
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 50px;
    -webkit-text-stroke-width: .7px;
  }
  .report-sheet2{
    margin-left:0;
  }
  .quote-content{
    text-align: right;
    margin-top: 64px;
    margin-left: 64px;
    font-size: 32px
  }
  .resources-side-container{
    margin-left: 96px;
  }
  .resources-side-container2{
    margin-left: 96px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .title {
    font-weight: normal;
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 50px;
    -webkit-text-stroke-width: .7px;
  }
  .report-sheet2{
    margin-left:24px;
  }
  .quote-content{
    text-align: right;
    margin-top: 48px;
    margin-left: 24px;
    font-size: 26px
  }
  .resources-side-container{
    margin-left: 48px;
  }
  .resources-side-container2{
    margin-left: -36px;
  }
  .container{
    width:100%;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

  .title {
    font-weight: normal;
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 50px;
    -webkit-text-stroke-width: .7px;
  }
  .report-sheet2{
    margin-left:48px;
  }
  .quote-content{
    text-align: right;
    margin-top: 48px;
    margin-left: 24px;
    font-size: 26px
  }
  .resources-side-container{
    margin-left: 48px;
  }
  .resources-side-container2{
    margin-left: 24px;
  }
}
