.resources-main-container {
  background-color: var(--primary-option);
  width: 100%;
  margin: 0 auto;
}
.resources-container {
  margin: 0 64px 0 64px;
  background-size: cover;
min-height: 100vh;
}
.genLink{
  font-size: large;
}
.report-content {
  -webkit-text-stroke-width: .5px;
  color: white;
  font-family: "Segoe UI", serif;
  font-size: 16px;
}
.committeeReports {
  text-align: left;
  float: left;
}
.report-title {
  font-size: 20px;
  -webkit-text-stroke-width: .7px;
}
.title {
    font-weight: normal;
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 50px;
    -webkit-text-stroke-width: .7px;
}
#link{
  color: lightgrey;
  -webkit-text-stroke-width: .3px;
}
.form-sheet{
  margin: 0 auto;
  border-radius: 40px;
  padding: 30px 0;
  max-width: 1200px;
  background-color: white;
}
.form-title{
  text-align: center;
}
.submit-button{
  display: block;
  padding: 10px;
  background-color: var(--primary);
  color: white;
  margin: 0 auto;
  width: 200px;
  border-radius: 30px;
}

.form-label{
  margin-top: 10px;
  font-weight: bold;
  color: var(--primary-dark);
  width: 100%;
}
.form-label 2{
  font-weight: bold;
  color: var(--primary-dark);
  width: 100%;
}

.form-spacer{
  position: relative;
  height: 32px;
}
.form-container{
  padding:20px;
}
