.resources-main-container {
  background-color: var(--primary-option);
  min-height: 100vh;
  background-size: cover;
  width: 100vw;
}
.resources-container {
  margin: 0 96px 0 96px;
}
.genLink{
  font-size: large;
}
.report-content {
  -webkit-text-stroke-width: .5px;
  color: white;
  font-family: "Segoe UI", serif;
  font-size: 16px;
}
.committeeReports {
  text-align: left;
  float: left;
}
.report-title {
  font-size: 20px;
  -webkit-text-stroke-width: .7px;
}
.title {
    font-weight: normal;
    font-size: 24px;
    font-family: "Segoe UI", sans-serif;
    margin-bottom: 50px;
    -webkit-text-stroke-width: .7px;
}
#link{
  color: lightgrey;
  -webkit-text-stroke-width: .3px;
}
