<h3 class="list-title text-white">Orientation and Committee Board Meetings</h3>
<div class="verticalLine">
<ul class="events">
  <li *ngFor="let event of events" (click)="onClick(event)">

    <div class="event-wrapper">
        <img src="../../../assets/bullet.svg" class="svg-icon">
      <div class="event-content-container">
      <div class="event-content">
          {{event.name}}
      </div>
      <div class="event-content">
          {{event.date}}
      </div>
    </div>
    </div>


  </li>
</ul>
</div>

