.login-container {
  min-height: 100vh;
  width: 100vw;
}
.card {
  margin-top: 35%;
  box-shadow: 0  10px  20px  rgba(0,0,0,0.19), 0  6px  6px  rgba(0,0,0,0.23);
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}
