.login-main-view {
  background-color: var(--secondary);
}

.login-header{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
}
.login-wrapper{
  margin: 0 auto;
  width: 800px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
  background-color: var(--primary-dark);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.473);
}

.login-container {
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.row{
  justify-content: center;
  margin-top: 10px;
}

.button {
  justify-content: center;
  display: block;
  padding: 10px;
  background: var(--secondary-option);
  color: white;
  margin: 0 auto;
  width: 200px;
  border-radius: 30px;
}
.error{
  color: red;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {
  

}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  .login-wrapper{
    width: 600px;

  }

}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

  .login-wrapper{
    width: 500px;

  }
}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  .login-header{
    font-size: 1.5rem;
  }
  .login-wrapper, .wrapper{
    width: 100vw;

  }

}


