<div class="contact-main-view">
  <div class="contact-container">
    <div class="navbar-spacer"></div>
    <h1 class="headline">We'd love to hear from you!</h1>
    <div class="form-sheet">
      <div class="container">
        <form #cForm="ngForm" [formGroup]="userForm" (ngSubmit)="onSubmit(cForm)">
          <div class="row">
            <div class="col-12 col-md-8 order-2 order-md-1">
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <div class="form-group" [ngClass]="{ 'has-error': invalidFirstName() }">
                      <!-- First Name -->
                      <label for="first_name" class="form-label">First Name</label>
                      <input type="text" formControlName="first_name" class="form-control" id="first_name"
                        name="first_name" placeholder="First Name" require>
                      <p *ngIf="invalidFirstName()" id="first_name_error" class="help-block">Invalid first name.</p>
                    </div>
                  </div>

                  <div class="col-12 col-lg-6">
                    <div class="form-group" [ngClass]="{ 'has-error': invalidLastName() }">
                      <!-- Last Name -->
                      <label for="last_name" class="form-label">Last Name</label>
                      <input type="text" formControlName="last_name" class="form-control" id="last_name"
                        name="last_name" placeholder="Last Name">
                      <p *ngIf="invalidLastName()" id="last_name_error" class="help-block">Invalid last name.</p>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group" [ngClass]="{ 'has-error': invalidEmail() }">
                      <!-- Email -->
                      <label for="email" class="form-label">Email</label>
                      <input type="text" formControlName="email" class="form-control" id="email" name="email"
                        placeholder="your@email.com">
                      <p *ngIf="invalidEmail()" id="email_error" class="help-block">Invalid email address.</p>
                    </div>
                  </div>

                  <div class="col-12">
                      <div class="form-group" [ngClass]="{ 'has-error': invalidPhone() }">
                        <!-- Email -->
                        <label for="phone" class="form-label" >Phone</label>
                        <input type="text" formControlName="phone" class="form-control" id="phone" name="phone"
                          placeholder="Phone">
                          <p *ngIf="invalidPhone()" id="phone_error" class="help-block">Invalid phone number</p>
                      </div>
                    </div>

                  <div class="col-12">
                      <div class="form-group" [ngClass]="{ 'has-error': invalidMessage() }">
                    <label class="form-label">Message</label>
                    <textarea class="form-control rounded-0 form-textarea form-group"  id="message" name="message"
                      rows="10"></textarea>
                      <p *ngIf="invalidMessage()" id="message_error" class="help-block">Please enter a message...</p>
                      </div>
                  </div>
                  <div class="col-12">
                  <div class="form-group">
                      <!-- Register Button -->
                      <button type="submit" class="btn submit-button mx-auto">Register</button>
                    </div>
                  </div>

                </div>
              
            </div>
            <div class="col-12 col-md-4 order-1 order-md-2">
              <h4 class="form-title">Contact Form</h4>
              <div class="form-blurb">
                Please use this form to contact us. Whether it's regarding more information about North County San Diego's
                H&I services or more specific inquiries, we would be happy to help.
              </div>
            </div>

          </div>
        </form>
      </div>

    </div>
    <div class="spacer"></div>
    <app-footer></app-footer>
  </div>
</div>
