<div id="currentFacilities" *ngIf="shownFacilities$ | async as facilities" style="display: none">
  <table id="invisibleTable">
      <thead>
        <tr>
          <th>Facility</th>
          <th>Type</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Primary Contact</th>
          <th>Primary Email</th>
          <th>Primary Phone</th>
          <th>Alt. Contact</th>
          <th>Alt. Email</th>
          <th>Alt. Phone</th>
          <th>Website</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let facility of facilities">
          <td class="invisibleData">{{ facility.facilityName }}</td>
          <td class="invisibleData">{{ facility.facilityType }}</td>
          <td class="invisibleData">{{ facility.address }}</td>
          <td class="invisibleData">{{ facility.city }}</td>
          <td class="invisibleData">{{ facility.state }}</td>
          <td class="invisibleData">{{ facility.mainContactName }}</td>
          <td class="invisibleData">{{ facility.mainContactEmail }}</td>
          <td class="invisibleData">{{ facility.mainContactPhone }}</td>
          <td class="invisibleData">{{ facility.alternateContactName }}</td>
          <td class="invisibleData">{{ facility.alternateContactEmail }}</td>
          <td class="invisibleData">{{ facility.alternateContactPhone }}</td>
          <td class="invisibleData">{{ facility.website }}</td>
        </tr>
      </tbody>
    </table>
  </div>

<div class="panel facility-list">
  <div class="header">
    <div class="title">Current Facilities</div>
  </div>

  <div *ngIf="{allFacilities: facilities$ | async, facilities: shownFacilities$ | async} as bothFacilities">
    <app-filter
    filterType="facility"
    *ngIf="bothFacilities.allFacilities as allFacilities"
    [list]="allFacilities"
    (filter)="filterEmitter(allFacilities, $event.property, $event.value)"
    >
    </app-filter>
    <table
      class="table table bordered table-responsive text-nowrap table-striped"
      id="currentFacilitiesTable"
      *ngIf="bothFacilities.facilities as facilities"
    >
      <thead>
        <tr>
          <th></th>
          <th (click)="onSortThisBy('facilityName', facilities)">Facility</th>
          <th (click)="onSortThisBy('facilityType', facilities)">Type</th>
          <th (click)="onSortThisBy('address', facilities)">Address</th>
          <th (click)="onSortThisBy('city', facilities)">City</th>
          <th (click)="onSortThisBy('state', facilities)">State</th>
          <th (click)="onSortThisBy('mainContactName', facilities)">Primary Contact</th>
          <th (click)="onSortThisBy('mainContactEmail', facilities)">Primary Email</th>
          <th (click)="onSortThisBy('mainContactPhone', facilities)">Primary Phone</th>
          <th (click)="onSortThisBy('alternateContactName', facilities)">Alt. Contact</th>
          <th (click)="onSortThisBy('alternateContactEmail', facilities)">Alt. Email</th>
          <th (click)="onSortThisBy('alternateContactPhone', facilities)">Alt. Phone</th>
          <th (click)="onSortThisBy('website', facilities)">Website</th>
        </tr>
      </thead>
      <tbody id="openings-panel">
        <tr *ngFor="let facility of facilities">
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Delete Item"
              (click)="onDeleteItem(facility)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              aria-label="Edit Item"
              (click)="onEditItem(facility)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td>{{ facility.facilityName }}</td>
          <td>{{ facility.facilityType }}</td>
          <td>{{ facility.address }}</td>
          <td>{{ facility.city }}</td>
          <td>{{ facility.state }}</td>
          <td>{{ facility.mainContactName }}</td>
          <td>{{ facility.mainContactEmail }}</td>
          <td>{{ facility.mainContactPhone }}</td>
          <td>{{ facility.alternateContactName }}</td>
          <td>{{ facility.alternateContactEmail }}</td>
          <td>{{ facility.alternateContactPhone }}</td>
          <td><a href="{{ facility.website }}">{{ facility.website }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="printOrExport">
    <button class="btn btn-primary btn-lg" (click)="onPrint('currentFacilities', 'Current Facilities')">Print</button>
    <button class="btn btn-primary btn-lg" (click)="onExport('xlsx', 'currentFacilities', 'currentFacilitiesTable')">Export</button>
  </div>
</div>

