<div class="panel facility-list">
  <div class="header">
    <div class="title">Current Facilities</div>
  </div>

  <div *ngIf="facilities$ | async as facilities">
    <table
      class="table table bordered table-responsive text-nowrap table-striped"
    >
      <thead>
        <tr>
          <th></th>
          <th (click)="onSortThisBy('facilityName', facilities)">Facility</th>
          <th (click)="onSortThisBy('facilityType', facilities)">Type</th>
          <th (click)="onSortThisBy('address', facilities)">Address</th>
          <th (click)="onSortThisBy('city', facilities)">City</th>
          <th (click)="onSortThisBy('state', facilities)">State</th>
          <th (click)="onSortThisBy('mainContactName', facilities)">Primary Contact</th>
          <th (click)="onSortThisBy('mainContactEmail', facilities)">Primary Email</th>
          <th (click)="onSortThisBy('mainContactPhone', facilities)">Primary Phone</th>
          <th (click)="onSortThisBy('alternateContactName', facilities)">Alt. Contact</th>
          <th (click)="onSortThisBy('alternateContactEmail', facilities)">Alt. Email</th>
          <th (click)="onSortThisBy('alternateContactPhone', facilities)">Alt. Phone</th>
          <th (click)="onSortThisBy('website', facilities)">Website</th>
        </tr>
      </thead>
      <tbody id="openings-panel">
        <tr *ngFor="let facility of facilities">
          <td>
            <button
              mat-icon-button
              class="btn-delete"
              color="warn"
              aria-label="Delete Item"
              (click)="onDeleteItem(facility)"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              aria-label="Edit Item"
              (click)="onEditItem(facility)"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
          <td>{{ facility.facilityName }}</td>
          <td>{{ facility.facilityType }}</td>
          <td>{{ facility.address }}</td>
          <td>{{ facility.city }}</td>
          <td>{{ facility.state }}</td>
          <td>{{ facility.mainContactName }}</td>
          <td>{{ facility.mainContactEmail }}</td>
          <td>{{ facility.mainContactPhone }}</td>
          <td>{{ facility.alternateContactName }}</td>
          <td>{{ facility.alternateContactEmail }}</td>
          <td>{{ facility.alternateContactPhone }}</td>
          <td>{{ facility.website }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
