.user-main-view {
  background-color: #E5E5E5;
  width: 100%;
}
.user-container{
  background-color: var(--primary-option);
  max-width: 1920px;
  margin: 0 auto;
}
.add-resource-title {
  font-weight: normal;
  font-size: 24px;
  font-family: "Segoe UI", sans-serif;
  -webkit-text-stroke-width: .5px
}
.custom-control-label{
  color: white;
  font-size: 16px
}
.submit-button{
  display: block;
  padding: 10px;
  background-color: var(--primary);
  color: white;
  margin: 0 auto;
  width: 400px;
  border-radius: 17px;
}
