.user-main-view {
  background-color: #E5E5E5;
  width: 100%;
}
.user-container{
  background-color: var(--primary-option);
  max-width: 1920px;
  margin: 0 auto;
}
.add-resource-title {
  font-weight: normal;
  font-size: 24px;
  font-family: "Segoe UI", sans-serif;
  -webkit-text-stroke-width: .5px
}
.custom-control-label{
  color: white;
  font-size: 16px
}
.btn-round-lg{
  border-radius: 17px;
  color: white;
  background: var(--primary) !important;
}
