<div class="user-main-view">
  <div class="user-container">
    <div class="navbar-spacer"></div>
    <div class="row">
      <div class="col-md-1">
        <button class="btn logout-button" (click)="logout()">Logout</button>
      </div>
      <div class="col-md-10">
        <h1 class="section-header text-white flex-center"> Content Management System </h1>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <div class="col-md-6">
        <div class="container">
          <div class="add-resource-title text-white">
            What type of resource would you like to add?
          </div>
          <div class ="container">

            <div class="custom-control custom-radio custom-control-inline" *ngFor="let resource of resources">
              <input
                type="radio"
                name="resourceType"
                class="custom-control-input"
                value="{{resource}}"
                id="{{resource}}"
                (change)="resourceChangeHandler($event)"
                [checked]="idx === 0">
              <label class="custom-control-label" for="{{resource}}">{{resource}}</label>
            </div>
          </div>

          <div *ngIf="resource === resources[0] || resource === resources[1]">

            <div class="spacer"></div>

            <div class="add-resource-title text-white">Resource Title</div>
            <div class ="container">

              <div class="col-12 col-lg-6">
                <input class="form-control"
                       type="text"
                       placeholder="Title"
                       (change)="titleChangeHandler($event)">
              </div>
            </div>
          </div>

          <div class="spacer"></div>
          <div *ngIf="resource === resources[2]">
            <div class="add-resource-title text-white">Monthly Reports</div>
            <div class ="container">

              <div class="custom-control custom-radio custom-control-inline" *ngFor="let report of reports">
                <input
                  type="radio"
                  name="reportType"
                  class="custom-control-input"
                  value="{{report}}"
                  id="{{report}}"
                  (change)="reportChangeHandler($event)">
                <label class="custom-control-label" for="{{report}}">{{report}}</label>
              </div>
            </div>

            <div class="spacer"></div>

            <div class="add-resource-title text-white">Current Month</div>
            <div class ="container">

              <div class="col-12 col-lg-9">
                <div class="custom-control custom-radio custom-control-inline" *ngFor="let month of months">
                  <input
                    type="radio"
                    name="monthOfYear"
                    class="custom-control-input"
                    value="{{month}}"
                    id="{{month}}"
                    (change)="monthChangeHandler($event)">
                  <label class="custom-control-label" for="{{month}}">{{month}}</label>
                </div>
              </div>
            </div>

            <div class="spacer"></div>

          </div>

          <div class="add-resource-title text-white">Upload Your Document</div>
          <div class="col-12 col-lg-9">
            <form (ngSubmit)="onSubmit($event)">
              <div class="form-group">
                <p class="text-white"> Please upload the .pdf report here </p>
                <div class="custom-file">
                  <input type="file"
                         accept="application/pdf"
                         class="custom-file-input"
                         id="inputGroupFile01"
                         aria-describedby="inputGroupFileAddon01"
                         (change)="onFileChange($event)" >
                  <label class="custom-file-label" for="inputGroupFile01" >{{name}}</label>
                </div>
              </div>
              <div class="form-group">
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadProgress | async) + '%'"
                       [attr.aria-valuenow]="(uploadProgress | async)" aria-valuemin="0" aria-valuemax="100"></div>
                </div>

                <div class="spacer"></div>

                <div class="button-container flex-center">
                  <button type="submit" class="submit-button btn btn-block button">Submit</button>
                </div>
              </div>
            </form>
          </div>

          <div class="spacer"></div>

        </div>
      </div>

      <div class="col-md-6">
        <div class="container">
          <app-resource-list [selectedResouce]=resource [availableResources] = resources></app-resource-list>
        </div>
      </div>
    </div>

  </div>
</div>
