<div class="user-main-view">
  <div class="user-container">
    <div class="navbar-spacer"></div>
    <h1 class="section-header text-white flex-center"> Content Management System </h1>
    <div class="spacer"></div>
    <div class="row">
      <div class="col-md-6">
        <div class="container">
          <div class="add-resource-title text-white">
            What type of resource would you like to add?
          </div>
          <div class="row">

            <!-- Default inline 1-->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
              <label class="custom-control-label" for="defaultInline1">Panel Material</label>
            </div>

            <!-- Default inline 2-->
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
              <label class="custom-control-label" for="defaultInline2">General Resources</label>
            </div>

            <div class="spacer"></div>
            <!-- End row -->
          </div>

          <div class="add-resource-title text-white">Resource Name</div>
          <div class ="container">
            <input type="text" id="resource_name"
                   name="resource_name" placeholder="Name">
          </div>

          <div class="spacer"></div>

          <form (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="add-resource-title text-white">Upload Your Document</div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01"
                       aria-describedby="inputGroupFileAddon01" (change)="onFileChange($event)" >
                <label class="custom-file-label" for="inputGroupFile01" >{{name}}</label>
              </div>
            </div>
            <div class="form-group">
              <div class="button-container">
                <button type="submit" class="btn btn-primary btn-round-lg btn-lg flex-center">Submit</button>
              </div>
            </div>
          </form>

          <div class="spacer"></div>


        </div>
      </div>

      <div class="col-md-6">
        <div class="container">
          Column 2
        </div>
      </div>
    </div>

  </div>
</div>
