<form class="panel-input" [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
  <div class="panel-input__header">Add a new panel</div>

  <mat-form-field appearance="outline">
    <mat-label>Day of the Week</mat-label>
    <mat-select formControlName="dayOfWeek">
      <mat-option *ngFor="let dayOfWeek of daysOfWeek" [value]="dayOfWeek">{{
        dayOfWeek
      }}</mat-option>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Week of Month</mat-label>
    <mat-select formControlName="weekOfMonth">
      <mat-option [value]="1">1</mat-option>
      <mat-option [value]="2">2</mat-option>
      <mat-option [value]="3">3</mat-option>
      <mat-option [value]="4">4</mat-option>
      <mat-option [value]="5">5</mat-option>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Event Time</mat-label>
    <mat-select formControlName="eventTime">
      <mat-option *ngFor="let timeOption of timeOptions" [value]="timeOption">
        {{ timeOption }}
      </mat-option>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="facilities$ | async as facilities">
    <mat-label>Facility</mat-label>
  <input matInput name="facility" formControlName="facility" type="search" list="facility-suggestions" (change)="getId(userForm.get('facility').value, 'facility', facilities)">
  <datalist id="facility-suggestions">
    <option *ngFor="let facility of facilities" [value]="facility.facilityName"></option>
  </datalist>
  </mat-form-field>

<!--   <mat-form-field appearance="outline">
    <mat-label>Facility</mat-label>
    <mat-select formControlName="facility">
      <ng-container *ngIf="facilities$ | async as facilities">
        <mat-option *ngFor="let facility of facilities" [value]="facility.id">
          {{ facility.facilityName }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field> -->

  <mat-form-field appearance="outline">
    <mat-label>Location</mat-label>
    <input matInput formControlName="location" />
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
      <mat-option value="Male/Female">Male/Female</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox
    formControlName="markAsMembersNeeded"
    (change)="onMarkAsNeededChange($event.checked)"
    >Mark as members needed?</mat-checkbox
  >

  <mat-form-field appearance="outline">
    <mat-label>Number Needed</mat-label>
    <input type="number" matInput formControlName="numberNeeded" />
    <mat-error>Value is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="panelMembers$ | async as panelMembers">
    <mat-label>Board Champion</mat-label>
  <input matInput name="boardChampion" formControlName="boardChampion" type="search" list="boardChampion-suggestions" (change)="getId(userForm.get('boardChampion').value, 'boardChampion', panelMembers)">
  <datalist id="boardChampion-suggestions">
    <option *ngFor="let member of panelMembers" [value]="member.firstName + ' ' + member.lastName"></option>
  </datalist>
  </mat-form-field>
  <mat-form-field appearance="outline"  *ngIf="panelMembers$ | async as panelMembers">
    <mat-label>Panel Coordinator</mat-label>
  <input matInput name="panelCoordinator" formControlName="panelCoordinator" type="search" list="panelCoordinator-suggestions" (change)="getId(userForm.get('panelCoordinator').value, 'panelCoordinator', panelMembers)">
  <datalist id="panelCoordinator-suggestions">
    <option *ngFor="let member of panelMembers" [value]="member.firstName + ' ' + member.lastName"></option>
  </datalist>
  </mat-form-field>
  <mat-form-field appearance="outline"  *ngIf="panelMembers$ | async as panelMembers">
    <mat-label>Panel Leader</mat-label>
  <input matInput name="panelLeader" formControlName="panelLeader" type="search" list="panelLeader-suggestions" (change)="getId(userForm.get('panelLeader').value, 'panelLeader', panelMembers)">
  <datalist id="panelLeader-suggestions">
    <option *ngFor="let member of panelMembers" [value]="member.firstName + ' ' + member.lastName"></option>
  </datalist>
  </mat-form-field>
  <mat-form-field appearance="outline"  *ngIf="panelMembers$ | async as panelMembers">
    <mat-label>Panel Member 1</mat-label>
  <input matInput name="panelMember1" formControlName="panelMember1" type="search" list="panelMember1-suggestions" (change)="getId(userForm.get('panelMember1').value, 'panelMember1', panelMembers)">
  <datalist id="panelMember1-suggestions">
    <option *ngFor="let member of panelMembers" [value]="member.firstName + ' ' + member.lastName"></option>
  </datalist>
  </mat-form-field>
  <mat-form-field appearance="outline"  *ngIf="panelMembers$ | async as panelMembers">
    <mat-label>Panel Member 2</mat-label>
  <input matInput name="panelMember2" formControlName="panelMember2" type="search" list="panelMember2-suggestions" (change)="getId(userForm.get('panelMember2').value, 'panelMember2', panelMembers)">
  <datalist id="panelMember2-suggestions">
    <option *ngFor="let member of panelMembers" [value]="member.firstName + ' ' + member.lastName"></option>
  </datalist>
  </mat-form-field>
  <mat-form-field appearance="outline"  *ngIf="panelMembers$ | async as panelMembers">
    <mat-label>Panel Member 3</mat-label>
  <input matInput name="panelMember3" formControlName="panelMember3" type="search" list="panelMember3-suggestions" (change)="getId(userForm.get('panelMember3').value, 'panelMember3', panelMembers)">
  <datalist id="panelMember3-suggestions">
    <option *ngFor="let member of panelMembers" [value]="member.firstName + ' ' + member.lastName"></option>
  </datalist>
  </mat-form-field>
  <mat-form-field appearance="outline"  *ngIf="panelMembers$ | async as panelMembers">
    <mat-label>Panel Member 4</mat-label>
  <input matInput name="panelMember4" formControlName="panelMember4" type="search" list="panelMember4-suggestions" (change)="getId(userForm.get('panelMember4').value, 'panelMember4', panelMembers)">
  <datalist id="panelMember4-suggestions">
    <option *ngFor="let member of panelMembers" [value]="member.firstName + ' ' + member.lastName"></option>
  </datalist>
  </mat-form-field>
  <mat-form-field appearance="outline"  *ngIf="panelMembers$ | async as panelMembers">
    <mat-label>Panel Member 5</mat-label>
  <input matInput name="panelMember5" formControlName="panelMember5" type="search" list="panelMember5-suggestions" (change)="getId(userForm.get('panelMember5').value, 'panelMember5', panelMembers)">
  <datalist id="panelMember5-suggestions">
    <option *ngFor="let member of panelMembers" [value]="member.firstName + ' ' + member.lastName"></option>
  </datalist>
  </mat-form-field>


 <!--  <mat-form-field appearance="outline">
    <mat-label>Board Champion</mat-label>
    <mat-select formControlName="boardChampion">
      <ng-container *ngIf="panelMembers$ | async as panelMembers">
        <mat-option *ngFor="let member of panelMembers" [value]="member.id">
          {{ member.firstName }} {{ member.lastName }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Panel Coordinator</mat-label>
    <mat-select formControlName="panelCoordinator">
      <ng-container *ngIf="panelMembers$ | async as panelMembers">
        <mat-option *ngFor="let member of panelMembers" [value]="member.id">
          {{ member.firstName }} {{ member.lastName }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Panel Leader</mat-label>
    <mat-select formControlName="panelLeader">
      <ng-container *ngIf="panelMembers$ | async as panelMembers">
        <mat-option *ngFor="let member of panelMembers" [value]="member.id">
          {{ member.firstName }} {{ member.lastName }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Panel Member 1</mat-label>
    <mat-select formControlName="panelMember1">
      <ng-container *ngIf="panelMembers$ | async as panelMembers">
        <mat-option *ngFor="let member of panelMembers" [value]="member.id">
          {{ member.firstName }} {{ member.lastName }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Panel Member 2</mat-label>
    <mat-select formControlName="panelMember2">
      <ng-container *ngIf="panelMembers$ | async as panelMembers">
        <mat-option *ngFor="let member of panelMembers" [value]="member.id">
          {{ member.firstName }} {{ member.lastName }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Panel Member 3</mat-label>
    <mat-select formControlName="panelMember3">
      <ng-container *ngIf="panelMembers$ | async as panelMembers">
        <mat-option *ngFor="let member of panelMembers" [value]="member.id">
          {{ member.firstName }} {{ member.lastName }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Panel Member 4</mat-label>
    <mat-select formControlName="panelMember4">
      <ng-container *ngIf="panelMembers$ | async as panelMembers">
        <mat-option *ngFor="let member of panelMembers" [value]="member.id">
          {{ member.firstName }} {{ member.lastName }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Panel Member 5</mat-label>
    <mat-select formControlName="panelMember5">
      <ng-container *ngIf="panelMembers$ | async as panelMembers">
        <mat-option *ngFor="let member of panelMembers" [value]="member.id">
          {{ member.firstName }} {{ member.lastName }}
        </mat-option>
      </ng-container>
    </mat-select>
    <mat-error>Value is required</mat-error>
  </mat-form-field> -->

  <div class="form-group">
    <button
      type="submit"
      class="btn admin-entry-button btn-primary mx-auto"
      [disabled]="!valid"
      mat-raised-button
      color="primary"
    >
      Add Panel
    </button>
  </div>
</form>
