/* You can add global styles to this file, and also import other style files */
//mandatory angular material theme
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root{
  --primary-dark: #007343;
  --primary: #31a36e;
  --secondary-dark: #c79100;
  --secondary: #ffc107;

  --primary-option: #245980;
  --secondary-option: #A8B1B8;
}
.navbar {
  background-color: var(--primary-dark);
}
.navbar-spacer{
  position: relative;
  height: 64px;
}
.spacer{
  position: relative;
  height: 64px;
}
.vertical-spacer{
  position: relative;
  width: 64px;
}
.section-header {
  text-shadow: .5rem .5rem 1rem rgba(0,6,6,.45);
  font-family: Georgia;
  font-size: 46px;
  margin: 32px auto
}
.shadow{
  box-shadow: .5rem .5rem 1rem rgba(0,6,6,.45)!important;
}
.section{
  padding-top: 1rem;
}
li.noStyle {
  list-style-type: none;
}

