/*Extra small devices (portrait phones, less than 576px)  */
/*No media query since this is the default in Bootstrap*/
.view {
  background: url("https://images.unsplash.com/photo-1474525130496-69e85f09f050")no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.container {
  margin-top: 120px;
}
.text {
  font-family: Georgia;
  font-size:large;
}
.sub-text {
  font-size: 14px;
}
.img-container{
  margin-top: 50px
}

.btn-primary{
  background: var(--primary) !important;
  border: solid var(--primary) 1px;
}
.btn-secondary{
  background-color: transparent !important;
  border: solid var(--primary) 1px;
}
.btn-secondary:hover{
  background-color: var(--primary) !important;
  border: solid var(--primary) 1px;
}
.btn{
  padding: 5px 35px;
  font-size: .8rem;
  transition: .3s;
}
.btn:hover{
  transform: scale(1.1);
}
.btn:active:focus {
  background-color: var(--primary) !important;
}
button:focus{
  outline: none;
}
.panelsBtn{
  border-radius: 17px;
  color: white;
  background: var(--primary) !important;
  border-color: #E5E5E5;
}
.resourcesBtn{
  border-radius: 17px;
  color: white;
  background: var(--primary) !important;
  border-color: #E5E5E5;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .view {
    background: url("https://images.unsplash.com/photo-1474525130496-69e85f09f050")no-repeat center center;
    background-size: cover;
    height: 100vh;
  }
  .container {
    margin-top: 140px;
  }
  .text {
    font-family: Georgia, serif;
    font-size:x-large;
  }
  .sub-text {
    font-family: Arial, serif;
    font-size: large;
  }
  .img-container{
    margin-top: 50px
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .view {
    background: url("https://images.unsplash.com/photo-1474525130496-69e85f09f050")no-repeat center center;
    background-size: cover;
    height: 100vh;
  }
  .container {
    margin-top: 160px;
  }
  .text {
    font-family: Georgia;
    font-size:x-large;
  }
  .sub-text {
    font-family: Arial;
    font-size: large;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .view {
    background: url("https://images.unsplash.com/photo-1474525130496-69e85f09f050")no-repeat center center;
    background-size: cover;
    height: 100vh;
  }
  .container {
    margin-top: 180px;
  }
  .text {
    font-family: Georgia;
    font-size:x-large;
  }
  .sub-text {
    font-family: Arial;
    font-size: x-large;
  }
  .img-container{
    margin-top: 50px
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .view {
    background: url("https://images.unsplash.com/photo-1474525130496-69e85f09f050")no-repeat center center;
    background-size: cover;
    height: 100vh;
  }
  .container {
    margin-top: 200px;
  }
  .text {
    font-family: Georgia;
    font-size:x-large;
  }
  .sub-text {
    font-family: Arial;
    font-size: x-large;
  }
  .img-container{
    margin-top: 50px
  }
}


