<div class="row">
  <div class="col-12 px-0">
    <div class="view">
      <div class="home-main-container">
      <div class="full-bg-img">
        <div class="mask rgba-black-slight flex-start">
          <div class="container text-center white-text">
            <div class="text white-text text-center wow fadeInUp">
                <h1 class="section-header text-white flex-center"> NCHANDI </h1>
              <div class="sub-text">
                <h5>“I am Responsible. When anyone, anywhere, reaches out for help, </h5>
                <h5> I want the hand of A.A. always to be there. And for that: I am responsible.”</h5>
                <div class="img-container flex-center">
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
