/*Extra small devices (portrait phones, less than 576px)  */
/*No media query since this is the default in Bootstrap*/
.home-view {
  background-color: #E5E5E5;
  width: 100%;
  overflow-x: hidden;
}
.hero-container{
  background-color: var(--primary-option-faded);
}
.landing-view {
  background: url("src/assets/Logo-background.svg") no-repeat center center fixed;
  background-size: auto;
  text-align: center;
}
.home-main-container{
  background-size: cover;
}
.announcement-view {
  background-color: var(--secondary-light);
}
.mailing_list_view {
  background-color: var(--primary-option);
}
.img-mail-container {
  margin-top: 24px;
  margin-left: 35%;
}
.text-mail-container {
  margin-top: 32px;
}
.home-container {
  margin: 100px 24px 0 24px;
}
.text {
  font-family: Georgia;
  font-size:large;
}
.sub-text {
  font-size: 11px;
}
.img-container{
  margin-top: 50px
}

.btn-primary{
  background: var(--primary) !important;
  border: solid var(--primary) 1px;
}
.btn-secondary{
  background-color: transparent !important;
  border: solid var(--primary) 1px;
}
.btn-secondary:hover{
  background-color: var(--primary) !important;
  border: solid var(--primary) 1px;
}
.btn{
  padding: 5px 35px;
  font-size: .8rem;
  transition: .3s;
}
.btn:hover{
  transform: scale(1.1);
}
.btn:active:focus {
  background-color: var(--primary) !important;
}
button:focus{
  outline: none;
}
.panelsBtn{
  border-radius: 17px;
  color: white;
  background: var(--primary) !important;
  border-color: #E5E5E5;
}
.resourcesBtn{
  border-radius: 17px;
  color: white;
  background: var(--primary) !important;
  border-color: #E5E5E5;
}

.arrow-container{
  position: relative;
  left: 40%;
  margin-top: 80px;
}

.round {
  position: relative;
  border: 3px solid #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

span {
  z-index: 999;
  height: 3px;
  margin:1px;
  width: 30px;
  background: #fff;
  transition: 0.4s ease;
}

span:first-child {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 35%;
}

span:nth-child(2) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 35%;
}

span:nth-child(3) {
  display: block;
  position: absolute;
  transform: rotate(45deg);
  left: 25%;
  bottom: 54%;
}

span:nth-child(4) {
  display: block;
  position: absolute;
  transform: rotate(-45deg);
  left: 45%;
  bottom: 54%;
}

.round:hover span:nth-child(1) {
  transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
  transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
  transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
  transform: rotate(-225deg);
}

.arrow-spacer {
  position: relative;
}

.mailing-list-header {
  text-align: center;
}

.mailing-list-content {
  text-align: center;
  font-size: medium;
}
.button-mailing-container {
  margin-left: 36%
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 64px;
}

#card_pic_1 {
  background-image: linear-gradient(to bottom left, #EA6E68, #F8D77F);
}

#card_pic_2 {
  background-image: linear-gradient(to bottom left, #34419B, #6DC6F6);
}

#card_pic_3 {
  background-image: linear-gradient(to bottom left, #7873ED, #EC76C1);
}

.card-picture {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: -32px;
  height: 128px;
}

.card-title {
  margin-top: 42px;
  color: whitesmoke;
  font-weight: bold;
  font-size: xx-large;
  -webkit-text-stroke-width: .2px;
}

.card-subtitle {
  margin-top: 12px;
  color: whitesmoke;
  font-weight: bold;
}

.card-body {
  margin-top: 48px;
  color: var(--card-body-text)
}

.card-primary-btn {
  padding: 8px 8px 8px 8px;
  border: none;
  margin-left: 16px;
  margin-bottom: 8px;
}

#card-btn-1 {
  background: #f0f0f0 url("src/assets/svg/ic_next.svg");
  background-position: 90%;
  background-repeat: no-repeat;
}

#card-btn-2 {
  background: #f0f0f0 url("src/assets/svg/ic_next_2.svg");
  background-position: 90%;
  background-repeat: no-repeat;
}

#card-btn-3 {
  background: #f0f0f0 url("src/assets/svg/ic_next_3.svg");
  background-position: 90%;
  background-repeat: no-repeat;
}

#card-text-1 {
  color: #F19D38;
}

#card-text-2 {
  color: #34419B;
}

#card-text-3 {
  color: #7873ED;
}

.card-button-text {
  text-align: right;
  margin-right: 96px;
  font-size: x-large;
}

.card-footer {
  margin-top: 12px;
}

#annoucements-header {
  color: var(--primary-option);
}

.column-buffer {
  width: 10%;
}

.column {
  width: 80%;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .text {
    font-family: Georgia, serif;
    font-size:x-large;
  }
  .sub-text {
    font-family: Arial, serif;
    font-size: medium;
  }
  .img-container{
    margin-top: 50px
  }
  .arrow-container {
    margin-top: 48px;
    left: 43%
  }
  .img-mail-container {
    margin-top: 24px;
    margin-left: 40%;
  }
  .mailing-list-header {
    align-content: center;
  }
  .mailing-list-content {
    text-align: center;
    font-size: large;
  }
  .button-mailing-container {
    margin-left: 40%
  }

  .column-buffer {
    width: 10%;
  }

  .column {
    width: 80%;
  }

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .text {
    font-family: Georgia;
    font-size:x-large;
  }
  .sub-text {
    font-family: Arial;
    font-size: large;
  }
  .arrow-spacer {
    position: relative;
    height: 24px;
  }
  .img-mail-container {
    margin-top: 32px;
    margin-left: 64px;
  }
  .mailing-list-header {
    text-align: left;
  }
  .mailing-list-content {
    text-align: left;
    font-size: large;
    margin-bottom: 12px;
  }
  .button-mailing-container {
    margin-left: 0px
  }
  .column-buffer {
    width: 15%;
  }
  .arrow-container {
    margin-top: 48px;
    left: 44%
  }
  .column {
    width: 70%;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .text {
    font-family: Georgia;
    font-size:x-large;
  }
  .sub-text {
    font-family: Arial;
    font-size: x-large;
  }
  .img-container{
    margin-top: 50px
  }
  .arrow-spacer {
    position: relative;
    height: 16px;
  }
  .img-mail-container {
    margin-top: 32px;
    margin-left: 98px;
  }
  .mailing-list-content {
    margin-bottom: 24px;
  }
  .column-buffer {
    width: 20%;
  }
  .arrow-container {
    margin-top: 48px;
    left: 45%
  }
  .column {
    width: 60%;
  }

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .text {
    font-family: Georgia;
    font-size:x-large;
  }
  .sub-text {
    font-family: Arial;
    font-size: x-large;
  }
  .img-container{
    margin-top: 50px
  }
  .arrow-spacer {
    position: relative;
    height: 0px;
  }
  .arrow-container {
    margin-top: 48px;
    left: 45%;
  }
  .img-mail-container {
    margin-top: 32px;
    margin-left: 112px;
  }
  .mailing-list-content {
    margin-bottom: 36px;
  }
  .column-buffer {
    width: 20%;
  }

  .column {
    width: 60%;
  }

}


