<div class="row">
  <div class="col-12 px-0">
    <div class="view">
      <div class="home-main-container">
      <div class="full-bg-img">
        <div class="mask rgba-black-slight flex-start">
          <div class="container text-center white-text">
            <div class="text white-text text-center wow fadeInUp">
                <h1 class="section-header text-white flex-center"> North County Hospitals & Institutions </h1>
              <div class="sub-text">
                <i> Sharing the AA message to those who cannot
                  get to a meeting in North County San Diego </i>
              </div>
              <div class="spacer"></div>
              <div class="callToAction">
                Find your panel or get more information
              </div>
              <div class="button-container flex-center">
                <button type="button" class="btn btn-primary btn-round-lg btn-lg flex-center" routerLink="/panels"  routerLinkActive="active-link">Panels</button>
                <button type="button" class="btn btn-secondary btn-round-lg btn-lg flex-center" routerLink="/resources" routerLinkActive="active-link">Resources</button>
              </div>
            </div>
          </div>
          <div class="container text-center white-text">

          </div>
          </div>
        </div>
        <div class="arrow-container">

          <div class="round">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
