.panel-main-view {
  background-color: #E5E5E5;
  width: 100%;
}
.panel-main-container {
  background-color: var(--primary-option);
  background-size: cover;
  max-width: 1920px;
  margin: 0 auto;
}
.intro-title{
  margin-top: 64px;
}
.sobriety-reqs{
  text-align: left;
}
.mat-expansion-panel-header{
  background: #7BA0C0;
  font-size: 20px;
  font-family: "Segoe UI", serif;
  outline: white;
  elevation: higher;
  width: 100%;
}
.mat-expansion-panel{
  font-size: 20px;
  font-family: "Segoe UI", serif;
}
.btn-round-lg{
  float: left;
  border-radius: 17px;
  color: white;
  background: var(--primary) !important;
}
.intro-content{
  font-size: 20px;
  color: white;
}
.intro-container{
  display:table-cell;
  text-align: left;
  margin-top: 16px;
  padding-left: 24px;
  padding-right: 24px
}

.disable_ripple:hover{
  background: #7BA0C0 !important;
}

.mat-expanded{
  background: #7BA0C0;
}

.panel-container1 {
  margin: 0 auto;
  border-radius: 40px;
  max-width: 1180px;
  padding-left: 24px;
  background-color: white;
}
.panel-container2 {
  margin: 0 auto;
  border-radius: 40px;
  max-width: 1324px;
  padding-left: 24px;
  background-color: white;
}
.panel-container3 {
  margin: 0 auto;
  border-radius: 40px;
  max-width: 1120px;
  padding-left: 24px;
  background-color: white;
}
.panels-container {
  margin: 0 24px 0 24px;
  max-width: 1700px;
}
.section-header {
  text-align: center;
}

.contact-content{
  padding:0 15px 0 15px;
  font-size: 16px;
}
.contact-table{
  padding:0 15px 0 15px;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .intro-para {
    font-size: 20px;
  }
  .headline {
    text-align: center;
    color: white;
  }
  .intro-content{
    font-size: 20px;
    color: white;
  }

  .contactViewer{
    width: 1020px;
  }
  .contact-table td{
    padding:0 15px 0 15px;
  }
  .panels-container {
    margin: 0 96px 0 96px;
    max-width: 1700px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .panels-container {
    margin: 0 64px 0 64px;
    max-width: 1700px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .panels-container {
    margin: 0 48px 0 48px;
    max-width: 1700px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .panels-container {
    margin: 0 24px 0 24px;
    max-width: 1700px;
  }
}
