<div class="panels-main-view">
  <div class="panels-main-container vertical-center">
    <div class="navbar-spacer">
      <div class="main-container">
        <div class="row justify-content center">
          <div class="col-md-6">
            <h2 class="section-header text-white flex-center"> NCHANDI Panels </h2>
          </div>
          <div class="col-md-6">
            <h2 class="section-header text-white flex-center"> Open Panels </h2>
            <div class="verticalLine"></div>
            <div class="panel-container">
              <!-- Table  -->
              <table class="table table bordered table-responsive text-nowrap table-striped" id="testTable">
                <!-- Table head -->
                <thead>
                <tr>
                  <th>Day of Week</th>
                  <th>Week of Month</th>
                  <th>Time</th>
                  <th>Facility</th>
                  <th>Location</th>
                  <th>Men/Women</th>
                  <th># Needed</th>
                  <th>Panel Coordinator</th>
                  <th>Facility Champion</th>
                </tr>
                </thead>
                <!-- Table head -->
                <!-- Table body -->
                <tbody id="demo">
                </tbody>
                <!-- Table body -->
              </table>
              <!-- Table  -->
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="spacer">
    </div>
    <div class="about-location-view section">
    </div>
  </div>
</div>
