.panel-main-container {
  background-color: var(--primary-option);
  min-height: 100vh;
  background-size: cover;
  width: 100vw;
}
.intro-para {
  font-size: 20px;
}
.headline {
  text-align: center;
  color: white;
}
.btn-round-lg{
  float: left;
  border-radius: 17px;
  color: white;
  background: var(--primary) !important;
}
.intro-container{
  display:table-cell;
  text-align:left;
}

.mat-expanded{
}

.disable_ripple:hover{
  background: currentColor !important;
}

.mat-expansion-panel-header{
  background: #7BA0C0;
  font-size: 20px;
  font-family: "Segoe UI", serif;
  outline: white;
  elevation: higher;
  width: 800px;
}

.mat-expanded{
  background: #7BA0C0;
}

.verticalLine {
  margin-left: 20px;
  border-left: solid white;
  border-radius: .5px;
}
.panel-container {
  margin: 0 auto;
  border-radius: 40px;
  padding: 30px 0;
  max-width: 1200px;
  background-color: white;
}
.panels-container {
  margin: 0 96px 0 96px;
}

.intro-content{
  font-size: 20px;
  color: white;
  padding-left: 40px;
}
.sobriety-reqs{
  text-align: left;
}
.contactViewer{
  width: 1020px;
}
