.panel-main-view {
  background-color: #E5E5E5;
  width: 100%;
}
.panel-main-container {
  background-color: var(--primary-option);
  background-size: cover;
  width: 100%;
  margin: 0 auto;
}

.intro-para {
  font-size: 20px;
}

.headline {
  text-align: center;
  color: white;
}

.btn-round-lg{
  float: left;
  border-radius: 17px;
  color: white;
  background: var(--primary) !important;
}

.intro-container{
  display:table-cell;
  text-align: left;
  padding-left: 64px;
  padding-right: 64px
}

.disable_ripple:hover{
  background: #7BA0C0 !important;
}

.mat-expansion-panel-header{
  background: #7BA0C0;
  font-size: 20px;
  font-family: "Segoe UI", serif;
  outline: white;
  elevation: higher;
  width: 800px;
}

.mat-expansion-panel{
  font-size: 20px;
  font-family: "Segoe UI", serif;
}

.mat-expanded{
  background: #7BA0C0;
}

.verticalLine {
  margin-left: 20px;
  border-left: solid white;
  border-radius: .5px;
}
.panel-container1 {
  margin: 0 auto;
  border-radius: 40px;
  max-width: 1180px;
  padding-left: 24px;
  background-color: white;
}
.panel-container2 {
  margin: 0 auto;
  border-radius: 40px;
  max-width: 1324px;
  padding-left: 24px;
  background-color: white;
}
.panel-container3 {
  margin: 0 auto;
  border-radius: 40px;
  max-width: 1120px;
  padding-left: 24px;
  background-color: white;
}
.panels-container {
  margin: 0 96px 0 96px;
  max-width: 1700px;
}

.intro-content{
  font-size: 20px;
  color: white;
}
.sobriety-reqs{
  text-align: left;
}
.contactViewer{
  width: 1020px;
}
.contact-table td{
  padding:0 15px 0 15px;
}
